
body{
    background-color:blue;
}
.nav{
    color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

.nav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.info{
    width: 50%;
    color: white;
   
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 100px;
   
}

.image{
    width: 50%;
}

.buttons{
    display:flex ;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.buttons > button{
    color: blue;
    height: 40px;
}

.main{
    display: flex;
    justify-content: space-around;
   
}