#header ul {
    list-style: none; 
    margin: 0;
    display: flex;
    gap: 20px;
 
}

ul a {
     text-decoration: none; 
     font-size: 20px;
     color: white; 
     text-align: center;
   
}

nav {
    border: 1px;
    background-color: black;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

a:hover{
    background-color: rgb(124, 124, 191);
   

}

hr{
    width:10px;
}

#HamberNav{
    display: none;
    background-color: black;
    padding: 6px;
    display: flex;
    width: 100%;
    color: white;

}


ul{
    text-decoration: none;
    list-style: none;
    justify-content: center;

}

#container {
    justify-content: space-around;
    gap: 10px;
    padding: 3em; 
    display: flex;



}

#sidebar {

    background-color: bisque;
    margin-top: 10px;
    justify-items: center;
    width: 25%;
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    justify-content: space-around;
    margin-top: 10px;
    width: 75%;
    gap: 10px;
    justify-content: center;

}



.card {
    border: 1px solid black;  

    height: 450px;
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    color: aqua;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
   
   
}

.img {
    margin-top: 50px;
    height: 30%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.info {
    text-align: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap; 
    background-color: rgb(80, 144, 246);
    color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

  
}

#Bottom {
    height:40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(68, 188, 236);
    margin-bottom: 10px;

}

#Bottom ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    gap: 20px;
    width: 100%;
    
 
}

#Bottom ul img{
    height: 20px;
    width: 20px;
}

@media only screen and (max-width:700px){
    #container{
        justify-content: center;
    }    
    #header{
        display: none;
    }

    #HamberNav{
        /* display: flex; */
        justify-content: left;
        position: fixed;
    }

    #sidebar{
        display: none;
    }
}